# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objective:**
- List popular languages for Data Science
- Some of the commonly used libraries for Data Scientists
- Data Science Tools
- Examples of Python code

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. pandas
3. Scipy
4. scikit-learn
5. Seaborn
6. Apache Spark
7. Matplotlib
8. ggplot
9. caret
10. dplyr
11. TensorFlow
12. Keras

|Data Science Tools|
------------------------
|Jupyter|
|RStudio|
|Spyder|
|Zeppelin|
|Apache Flink|
|Colab|
|Orange|

### Below are few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diviing by 60.
200/60

3.3333333333333335

## Author
Shaw Young